@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    
    .loginMessage {
      margin: 0 auto;
      max-width: 320px;
      width: 260px;
      padding: 20px 0;
    }
  }